<main class="container-fluid">
    <div>
        {{#each posts  as |post|}}
        <article>
            <h3>{{post.title}}</h3>
            <h4>{{post.user.username}}</h4>
            <h5>{{post.createdAt}}</h5>
            <p>{{post.content}}</p>
        </article>
        {{/each}}
    </div>
</main>