<main class="container-fluid">
    <div class="grid">
        {{#each posts  as |post|}}
        <article>
            <h3>{{post.title}}</h3>
            <h4>{{post.user.username}}</h4>
            <p>{{post.content}}</p>
        </article>
        {{/each}}
    </div>
</main>