<main class="container-fluid">
    <div>
        <h3>Login</h3>
        <form id="login-form">
            <fieldset>
                <label>Username</label>
                <input id="username-login" name="username" placeholder="Username"/>
                <label>Password</label>
                <input id="password-login" type="password" name="password" placeholder="Password"/>
                <button type="submit" id="login-btn">Login</button>
            </fieldset>
        </form>
    </div>
</main>

<script src="/js/login.js"></script>