<main class="container-fluid">
    <div>
        <h3>Sign Up</h3>
        <form id="signup-form">
            <fieldset>
                <label>Username</label>
                <input id="username-signup" name="username" placeholder="Username"/>
                <label>Password</label>
                <input id="password-signup" type="password" name="password" placeholder="Password"/>
                <button type="submit">Sign Up</button>
            </fieldset>
        </form>
    </div>
</main>